/*Style for ../fixed_pages/menu.php, the menu of the restaurant*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  top: 0;
  padding: 0;
}

body, html {
  overflow-x: hidden;
}

.side-portadas-wrapper {
  visibility: hidden;
  position: fixed;
  height: 100%;
  width: 20%;
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(79, 17, 4, 0.9);
}

.side-portadas-title {
  text-align: center;
  border: solid;
  background-color: #F1F1F1;

}

.portadas {
  height: 80%;
  text-align: center;
}

.portadas ul{
  border: solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color:  #F1F1F1;
}

.portadas ul li{
  list-style: none;
  //margin-left: 40px;
}

.portadas ul li a{
  text-decoration: none;
}

.restmenu-wrapper {
  padding: 0 10%;
}

.platos {
  text-transform: uppercase;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.portada {
  //border: solid green;
  margin-bottom: 15px;
}


.portada-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid;
}

.portada-name h2 {
  font-size: 30px;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
}

#portada-category {
  font-size: 13px;
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  color: #000;
  margin-right: 0;
  white-space: nowrap;
}

.portada ul li {
  list-style-type: none;
}

.portada ul li span h2::before{
  content: "•"; /* Insert content that looks like bullets */
  vertical-align: sub;
  line-height: 0px;
  padding-right: 10px;
  margin-left: -20px;
  font-size: 50px;/* Or a color you prefer */
}


.plato {
  font-size: 20px;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  text-transform: capitalize;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#plato-name span  {
  font-size: 15px;
  font-weight: 600;
  line-height: 5px;
}


p {
  margin: 0 0 30px;
  text-transform: lowercase;
  font-style: italic;
  font-weight: bold;
}
